#register-center {
  height: 500px;
  // background-color: red;
  .reg-title {
    height: 44px;
    padding: 20px 0;
    margin-bottom: 100px;
    a {
      display: inline-block;
      height: 100%;
      img {
        height: 100%;
      }
    }
    span {
      font-size: 22px;
      line-height: 44px;
      color: #3c3c3c;
      vertical-align: top;
      margin-left: 6px;
    }
  }

  .reg-form {
    width: 480px;
    min-height: 305px;
    // background-color: pink;
    margin: 0 auto;
    user-select: none;
    > div:not([id='alertBox']) {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 36px;
      margin-bottom: 20px;
      .reg-left {
        width: 120px;
        height: 36px;
        color: #111;
        font-weight: normal;
        text-align: right;
        margin: 0;
      }

      .reg-right {
        width: 320px;
        margin-left: 10px;
        input::placeholder {
          color: #ccc;
        }
      }

      .reg-phone-box {
        position: relative;
        .reg-phone-number-input {
          width: 170px;
          height: 36px;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          padding: 0 10px 0 138px;
        }
        .country-select {
          position: absolute;
          width: 126px;
          font-size: 14px;
          line-height: 36px;
          height: 36px;
          left: 1px;
          top: 1px;
          border-right: 1px solid #d6d6d6;
          div {
            width: 106px;
            padding: 0 10px;
            // position: absolute;
            > span {
              display: inline-block;
              vertical-align: top;
              &:nth-of-type(1) {
                width: 60px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &:nth-of-type(2) {
                width: 40px;
                text-align: right;
              }
            }
          }

          .country-select-list {
            position: absolute;
            left: -1px;
            top: 34px;
            z-index: 101;
            border: 1px solid #d6d6d6;
            padding: 5px 0;
            width: 135px;
            max-height: 200px;
            // font-size: 14px;
            line-height: 22px;
            overflow: auto;
            background-color: #fff;
            .active {
              background-color: #ccc;
            }
          }
        } 

      }

      .err-phone-message,.err-verification-message {
        display: none;
        box-sizing: border-box;
        width: 100%;
        height: 36px;
        padding: 0 10px;
        color: #ff0036;
        border: 1px solid #ff0036;
        background-color: #ffeded;
        margin-top: 10px;
      }
      .reg-verification-box {
        position: relative;
        .reg-verification-code-input {
          width: 226px;
          height: 36px;
          border: 1px solid #d6d6d6;
          border-radius: 3px;
          padding: 0 82px 0 10px;
        }
        .send-verification {
          position: absolute;
          top: 1px;
          right: 11px;
          color: #ff5000;
          cursor: pointer;
        }
        .send-verification-active {
          // cursor:not-allowed;
          color: #ccc!important;
        }
      }

      .reg-btn {
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: 10px;
        background: linear-gradient(to right, #f90, #ff5000);
        opacity: 0.6;
        cursor: text;
      }
      .reg-btn-active {
        opacity: 1!important;
      }

      .reg-agreement {
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        line-height: 20px;
        > label {
          font-weight: normal;
          margin-left: 10px;
          user-select: none;
          > a {
            color: #fd6020;
          }
        }
      }
    }
    p {
      width: 440px;
      text-align: right;
      margin-left: 10px;
      user-select: none;
      >a {
        color: #fd6020;
      }
    }
  }
}

// 弹出表单注册输入框
#alertBox{
  display: none;
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 1190px;
  height: 900px;
  left: 0;
  top: 0;
 .center-box{
   width: 620px;
   padding: 60px;
   background-color: hsla(0, 0%, 100%, 0.9);
   position: absolute;
  //  left: auto;
  //  top: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-60%);
  .reg-info-box {
    >h2 {
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 30px;
    }
    .reg-info-con {
     
      >div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        .left{
          width: 100px;
          font-size: 14px;
          color: #6d6d6d;
          font-weight: 700;
          line-height: 40px;
          // div
         .lab-info {
          display: inline-block;
          width: 70px;
          height: 40px;
          text-align: justify;
          // white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          >span {
            display: inline-block;
            width: 100%;
          }
         }
         >span {
          
          vertical-align: middle;
         }
        }
        .right{
          width: 520px;
          user-select: none;
          >input {
            padding: 0 10px;
            width: 280px;
            height: 40px;
            // padding-left: 50px;
            border: 1px solid #f1eeee;
            &::placeholder {
              color: #ccc;
            }
          }
          >span {
            // color: rgba(0,0,0,.5);
            color: green;
            margin-left: 10px;
          }
          .span-active {
            // display:block;
            color: red;
          }
          .user-address {
            padding: 0 10px;
            width: 320px;
            height: 100px;
            resize: none;
            border: 1px solid #f1eeee;
          }
        }
      }
    }

    .btn-box {
      display: flex;
      justify-content: space-between;
      margin: 0 80px;
      >input {
        width: 150px;
        height: 50px;
        font-size: 16px;
        line-height: 48px;
        font-weight: 700;
      }
      .user-info-reset {
        background-color: #ccc;
        border: 1px solid #6d6d6d;
        color: #444;
      }
      .user-info-submit {
        background-color: #f40;
        border: 1px solid #f40;
        color: #fff;
      }
    }
  }
 }
}
