@charset 'utf-8';
html,
body,
header,
ul,
li,
dl,
dt,
dd,
a,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
form {
  padding: 0;
  margin: 0;
}
html,
body {
  font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
  color: #000;
  overflow-x: hidden;
}
a,
u {
  color: #999;
  text-decoration: none!important;
}
i,
em {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
}
strong,
b {
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
input,
select,
textarea {
  outline: none;
}
img {
  vertical-align: top;
}
.con {
  width: 1190px;
  margin: 0 auto;
}
.a-span-hover {
  color: #f22e00 !important;
}
#header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
#header .con {
  display: flex;
  justify-content: space-between;
}
#header .con > ul {
  display: flex;
}
#header .con > ul .hello-tmall {
  line-height: 35px;
  color: #999;
}
#header .con > ul > li {
  margin-left: 3px;
  padding: 0 10px;
}
#header .con > ul > li > a {
  color: #999;
  line-height: 35px;
}
#header .con > ul > li > a .red {
  color: #f22e00;
  font-size: 14px;
}
#header .con > ul a:hover {
  text-decoration: underline!important;
  color: #fe0137;
}
#header .con > ul .dropdown {
  position: relative;
  padding-right: 15px;
}
#header .con > ul .dropdown .carts {
  position: absolute;
  font-size: 16px;
  color: #999;
  top: 5px;
  transition: all 0.5s;
}
#header .con > ul .dropdown > ul {
  display: none;
  position: absolute;
  padding: 8px 10px;
  background-color: #fff;
  z-index: 100;
}
#header .con > ul .dropdown > ul a {
  white-space: nowrap;
  line-height: 22px;
}
#header .con > ul .dropdown .dropdown-left {
  left: 0;
}
#header .con > ul .dropdown .dropdown-right {
  right: 0;
  width: 142px;
}
#header .con > ul .dropdown .dropdown-right > li {
  border-bottom: 1px dotted #000;
  padding: 5px 0;
}
#header .con > ul .dropdown .dropdown-right > li > h3 {
  font-size: 100%;
  line-height: 1.4;
}
#header .con > ul .dropdown .dropdown-right > li > a {
  display: inline-block;
  margin-right: 10px;
}
#header .con > ul .dropdown:hover {
  background-color: #fff;
}
#header .con > ul .dropdown:hover .carts {
  transform: rotate(180deg);
}
#header .con > ul .dropdown:hover > ul {
  display: block;
}
#hot-goods {
  padding: 26px 0 15px;
  background-color: #f83c3d;
}
#hot-goods .con {
  display: flex;
  justify-content: space-between;
}
#hot-goods .con > a {
  display: block;
  width: 236px;
  height: 88px;
  border-radius: 10px;
  overflow: hidden;
}
#hot-goods .con > a > img {
  width: 100%;
  height: 100%;
}
#content {
  background: url(../img/10027.png) 0 0/100% 100% no-repeat;
  padding-bottom: 100px;
}
#content .con {
  position: relative;
  background-color: #fff;
  border-radius: 0px 0px 18px 18px;
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#content .con .con-search {
  display: flex;
  padding-bottom: 30px;
}
#content .con .con-search .logo {
  width: 87px;
  height: 52px;
  margin: 28px 0 0 73px;
  background: url(../img/10006.png) 0 0/100% 100% no-repeat;
}
#content .con .con-search .search-box {
  margin: 36px 0 0 86px;
  border: 1px solid #fe0137;
  border-radius: 21px;
  overflow: hidden;
}
#content .con .con-search .search-box > input {
  display: inline-block;
  width: 524px;
  height: 42px;
  padding-left: 16px;
  border: none;
  vertical-align: top;
  outline: none;
}
#content .con .con-search .search-box::placeholder {
  color: #999;
}
#content .con .con-search .search-box .btn-search {
  display: inline-block;
  width: 90px;
  height: 42px;
  border-radius: 21px;
  background-color: #fe0137;
  font-size: 18px;
  color: #fff;
  line-height: 42px;
  text-align: center;
}
#content .con .content-left-img {
  display: block;
  width: 360px;
  position: absolute;
  left: -360px;
  top: 0;
}
#content .con .content-right-img {
  display: block;
  width: 360px;
  position: absolute;
  right: -360px;
  top: 0;
}
#content .con .content-nav {
  display: flex;
}
#content .con .content-nav .content-nav-left > h2 {
  color: #f22e00;
  font-size: 16px;
  margin: 15px 0 0 18px;
}
#content .con .content-nav .content-nav-left .goods-class {
  width: 212px;
  padding: 18px 23px 18px 18px;
  font-size: 14px;
  line-height: 32px;
  color: #666;
}
#content .con .content-nav .content-nav-left .goods-class > li > i {
  width: 16px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  margin: 0 6px 0 3px;
}
#content .con .content-nav .content-nav-left .goods-class > li > a {
  color: #666;
}
#content .con .content-nav .content-nav-left .goods-class > li > a:hover {
  color: #fe0137;
}
#content .con .content-nav .content-nav-left .goods-class > li > span {
  font-size: 12px;
  padding: 0 3px;
  line-height: 30px;
}
#content .con .content-nav .content-nav-right {
  margin-top: 8px;
}
#content .con .content-nav .content-nav-right .nav-list-box a {
  display: inline-block;
  font-size: 14px;
  line-height: 35px;
  color: #000;
  margin-right: 16px;
}
#content .con .content-nav .content-nav-right .nav-list-box a:hover {
  color: #fe0137;
}
#content .con .content-nav .content-nav-right .nav-list-box a > img {
  width: 100px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show {
  padding-top: 14px;
  display: flex;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .shuffling-box .shuffling1 {
  height: 280px;
  margin-bottom: 33px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .shuffling-box .shuffling2 {
  height: 206px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .shuffling-box .shuffling {
  width: 520px;
  border-radius: 12px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo {
  width: 384px;
  height: 508px;
  background-color: #f3f3f3;
  border-radius: 12px;
  margin-left: 15px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .userInfo-login {
  width: 100%;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .userInfo-login > img {
  width: 80px;
  border-radius: 40px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .userInfo-login > span {
  margin-top: 10px;
  color: #333;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .userInfo-login:hover > span {
  color: #fe0137;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .new-goods {
  display: block;
  width: 356px;
  height: 141px;
  margin: 17px 0 0 14px;
  border-radius: 6px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .new-goods > img {
  width: 100%;
  height: 100%;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news {
  margin: 27px 0 0 14px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news .announcement {
  font-size: 14px;
  line-height: 14px;
  color: #666;
  margin-bottom: 12px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news .announcement > span {
  font-weight: 700;
  line-height: 16px;
  color: #000;
  margin-right: 6px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news > a {
  display: block;
  font-size: 12px;
  color: #666;
  line-height: 12px;
  margin-bottom: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news > a:hover {
  color: #fe0137;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .hot-news > a > span {
  display: inline-block;
  padding: 3px 4px;
  color: #fe0137;
  border-radius: 2px;
  margin-right: 4px;
  background-color: rgba(255, 174, 174, 0.2);
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .user-info-box {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px 0 32px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .user-info-box > a {
  display: flex;
  height: 51px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .user-info-box > a > i {
  width: 22px;
  height: 22px;
  font-size: 22px;
  line-height: 22px;
}
#content .con .content-nav .content-nav-right .content-nav-right-show .userInfo .user-info-box > a:hover {
  text-decoration: underline!important;
  color: #333 !important;
}
#content .con .content-goods {
  margin-top: 18px;
}
#content .con .content-goods .content-goods-list {
  margin: 18px;
}
#content .con .content-goods .content-goods-list .goods-title1 {
  width: 107px;
  height: 34px;
  margin-bottom: 22px;
}
#content .con .content-goods .content-goods-list .goods-title1 > img {
  width: 100%;
  height: 100%;
}
#content .con .content-goods .content-goods-list .goods-list-box {
  display: flex;
}
#content .con .content-goods .content-goods-list .goods-list-box .goods-list-box-left {
  margin-right: 12px;
}
#content .con .content-goods .content-goods-favorite {
  margin: 44px 18px 16px;
  padding-bottom: 20px;
}
#content .con .content-goods .content-goods-favorite .favorite-title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 18px;
}
#content .con .content-goods .content-goods-favorite .favorite-title > h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
#content .con .content-goods .content-goods-favorite .favorite-title .recommendation {
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  padding: 0 10px;
  color: #fff;
  background-color: #fe0137;
  margin: 2px 0 0 6px;
}
#content .con .goods-list-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#content .con .goods-list-content .goods-items {
  width: 220px;
  margin: 0 10px 14px 0;
}
#content .con .goods-list-content .goods-items > a {
  display: block;
  color: #000;
}
#content .con .goods-list-content .goods-items > a:hover > .twoline {
  color: #ff5000;
}
#content .con .goods-list-content .goods-items > a .imgbox {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);
}
#content .con .goods-list-content .goods-items > a .imgbox > img {
  width: 100%;
}
#content .con .goods-list-content .goods-items > a .singline {
  width: 208px;
  height: 22px;
  margin-top: 11px;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#content .con .goods-list-content .goods-items > a .twoline {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 11px 6px 0;
}
#content .con .goods-list-content .goods-items > a .goods-price {
  font-size: 20px;
  line-height: 24px;
  height: 24px;
  margin-top: 5px;
  color: #ff5000;
}
#content .con .goods-bigimg-item {
  display: block;
  width: 222px;
  height: 302px;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}
#content .con .goods-bigimg-item > img {
  width: 100%;
  height: 100%;
}
#content .con .goods-bigimg-item .abbox {
  width: 190px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  bottom: 26px;
  display: flex;
}
#content .con .goods-bigimg-item .abbox > div {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
#content .con .goods-bigimg-item .abbox > div:nth-child(1) {
  width: 36px;
  margin: 14px 0 0 12px;
}
#content .con .goods-bigimg-item .abbox > div:nth-child(2) {
  width: 1px;
  height: 41px;
  margin: 16px 20px 0;
  background-color: hsla(0, 0%, 59.2%, 0.4);
}
#content .con .goods-bigimg-item .abbox > div .floor-dectitle {
  margin-top: 13px;
}
#content .con .goods-bigimg-item .abbox > div .floor-decinfo {
  font-size: 14px;
  line-height: 20px;
}
#footer {
  border-top: 1px solid #D1D7DC;
}
#footer .service-link-box {
  margin: 25px 0;
}
#footer .service-link-box .con {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: url(../img/10111.jpg) 0 0/100% 100% no-repeat;
}
#footer .service-link-box .con > a {
  width: 297px;
  height: 100px;
}
#footer .footer-nav-box .con {
  padding: 22px 0;
  display: flex;
  justify-content: flex-start;
  background: url(../img/10112.png) 52px bottom / 68px 25px no-repeat;
}
#footer .footer-nav-box .con > li {
  width: 238px;
  padding-left: 52px;
}
#footer .footer-nav-box .con > li > dl {
  text-align: left;
}
#footer .footer-nav-box .con > li > dl > dt {
  font-size: 16px;
  line-height: 30px;
  color: #646464;
  font-weight: 700;
}
#footer .footer-nav-box .con > li > dl > dd > a {
  display: block;
  line-height: 20px;
  height: 20px;
}
#footer .footer-nav-box .con > li > dl > dd > a img {
  width: 105px;
  height: 105px;
}
#footer .footer-link-box {
  border-top: 2px solid #FF0036;
  background-color: #000;
  padding-bottom: 20px;
}
#footer .footer-link-box .p1 {
  font-size: 12px;
  line-height: 35px;
}
#footer .footer-link-box .p1 a {
  color: #fff;
  margin-right: 3px;
}
#footer .footer-link-box .p2 {
  color: #a4a4a4;
}
#footer .footer-link-box .p2 > p,
#footer .footer-link-box .p2 > a,
#footer .footer-link-box .p2 > span {
  display: inline-block;
  margin: 0 50px 5px 0;
}
#footer .footer-link-box .p2 > i {
  font-style: normal;
  display: block;
  color: #686868;
}
#footer .footer-link-box .p2 img {
  width: 20px;
  height: 20px;
}
#footer .footer-link-box .p3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
#footer .footer-link-box .p3 > a {
  display: inline-block;
}
#footer .footer-link-box .p4 {
  margin-top: 20px;
  text-align: center;
}
#footer .footer-link-box .p4 a {
  display: inline-block;
  background-color: #fff;
}
#footer .footer-link-box .p4 a > img {
  width: 146px;
  height: 71px;
}
#footer a:hover {
  text-decoration: underline!important;
}
